.user-profile-row {
    display: flex;
    margin-left: 60px;
    margin-top: 50px;
    margin-bottom: -80px;
    
}
.user-profile-column-left {
    width: 30%;
    margin-right: 10%;
}

.user-profile-column-right {
    width: 50%;
}

.txt-label {
    width: 90px;
    margin-left: 15px;
}
.user-text-value {
    margin-left: 15px;
}
.edit-button{
    margin-left: 10px;
    width: 40px;
}

#show_default_friends {
    margin-top: 20px;
}